:root {
  color: gray;
}

.breadcrumbs {
  display: flex;
  gap: 5px;
}

.keyword-search {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 7px;
}

.color-black {
  color: #000;
}

.font-short {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  margin: auto;
}

.info-cards {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 200px;
  gap: 20px;
}

.intent-result-cpc-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .cpc-comm-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
